<!DOCTYPE html> 
<html> 
<head> 
	<title>BASF Advanced Materials</title> 


	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js"></script>
</head> 

<body> 
<div data-role="page" style="max-height:640px; min-height:640px;">
	<div class="ui-header ui-bar-a" data-swatch="a" data-theme="a" data-form="ui-bar-a" data-role="header" role="banner">
		<a href="/processes" class="ui-btn-left ui-btn ui-btn-icon-notext ui-btn-corner-all ui-shadow ui-btn-up-a" data-iconpos="notext" data-theme="a" data-role="button" data-icon="home" title=" Home ">
			<span class="ui-btn-inner ui-btn-corner-all">
				<span class="ui-btn-text"> Home </span>
				<span data-form="ui-icon" class="ui-icon ui-icon-home ui-icon-shadow"></span>
			</span>
		</a>
		<h1 class="ui-title" tabindex="0" role="heading" aria-level="1">BASF Advanced Materials</h1>
		<a class="ui-btn-right ui-btn ui-btn-icon-notext ui-btn-corner-all ui-shadow ui-btn-up-a" data-iconpos="notext" data-theme="a" data-role="button" data-icon="info" title=" About ">
			<span class="ui-btn-inner ui-btn-corner-all">
				<span class="ui-btn-text"> About </span>
				<span data-form="ui-icon" class="ui-icon ui-icon-grid ui-icon-shadow"></span>
			</span>
		</a>
	</div>
	<div data-role="content" class="scrollable">
		<h3>{{name}} ({{sku}})</h3>
            <ul data-role="listview">
                <li>{{description}}</li>
                {{#potLife}}
                <li>Pot Life : {{min}} - {{max}}</li>
                {{/potLife}}
                {{#gelTime}}
                <li>Gel Time : {{min}} - {{max}}</li>
                {{/gelTime}}
                {{#mixViscosity}}
                <li>Mix Viscosity : {{min}} - {{max}}</li>
                {{/mixViscosity}}
                {{#flexuralStrength}}
                <li>Flexural Strength : {{min}} - {{max}}</li>
                {{/flexuralStrength}}
                {{#fractureToughness}}
                <li>Fracture Toughness : {{min}} - {{max}}</li>
                {{/fractureToughness}}
                {{#fractureEnergy}}
                <li>Fracture Energy : {{min}} - {{max}}</li>
                {{/fractureEnergy}}
                
            </ul>
	</div>
</div>
</body>
</html>
